* {
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
}

:root {
  --BackgrondColor: #40982a;
  --LoginBackground: #8de685;
  --HtmlBorderTop: #7bda5e;
  --SignInUp: #91ff94;
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--BackgrondColor);
  border-top: var(--HtmlBorderTop) solid 10vh;
  max-height: 94vh;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vw;
  max-height: 84vh;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-color: var(--LoginBackground);
  height: 52vh;
  width: 18vw;
  border-radius: 10vh;
  padding: 4vw;
}

.loginText,
.registerText {
  font-weight: 200;
  font-style: italic;
  font-size: 1.8vw;
  text-align: center;
  background-color: var(--SignInUp);
  padding: 10%;
  height: 6vh;
}
